/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1600px) {
	
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {
	.about-inner {
		max-width: 1160px;
		width: calc(100%);
	}

	.about-image, .about-description{
		max-width: 610px;
		width: calc(100% / 2 - 50px);
	}

	.cards {
		max-width: 1160px;
		width: calc(100%);
		justify-content: space-around;
	}

	.cards-nav__right, .cards-nav__left{
		display: none;
	}

	.testimonials-container{
		max-width: 1160px;
		width: calc(100%);		
	}

	.footer-container, .testimonials-button, .footer-button{
		max-width: 1160px;
		width: calc(100%);
	}
}


@media only screen and (max-width : 1000px) {


	.cards-nav__left, .cards-nav__right{
		display: flex;
	}

	.payment-image{
		width: 168px;
		height: 168px;
	}

	.payment-item{
		width: 168px;
	}


	.wrapper__eagle1 {
		top: 51.6%;
		left: 10%;	
	}

	.wrapper__eagle2 {
		top: 48.4%;
		left: 13%;
	}
	.wrapper__gorillas{
		top: 67.75%;
		left: 52.12%;	
	}

	.wrapper__crocodile{
		top: 57.25%;
		left: 24.46%;		
	}
			

	.wrapper__panda {
		top: 41.9%;
		left: 79.9%;	
	}

	.wrapper__pandas {
		top: 51.6%;
		left: 72.8%;	
	}

	.wrapper__eagle1 .map-wrapper__descr {
		top: -110px;
		left: 50px;	
	}


	.wrapper__eagle2 .map-wrapper__descr {
		top: 20px;
		left: 0;
	}

	.wrapper__gorillas .map-wrapper__descr {
		top: -10px;
		left: 50px;	
	}

	.wrapper__crocodile .map-wrapper__descr {
		top: 20px;
		left: 0;	
	}

	.wrapper__panda .map-wrapper__descr {
		top: -30px;
		left: -160px;	
	}

	.wrapper__pandas .map-wrapper__descr {
		top: 30px;
		left: -20px;
	}

	.main{
		height: 500px;
	}
	.main-description__background{
		width: 367px;
		height: 367px;
		top: -2%;
		left: 45.6%;		
		/*
		left: 456px;
		top: -11px; */
	}

	.main-text{
		width: 400px;
		height: 320px;
		top: 8.7%;
		left: 51.4%;		
		/*
		left: 514px;
		top: 43px; */
		font-size: 85px;
		line-height: 75%;
		text-align: center;
	}

	.main-description__button{
		left: calc(50% - 298px/2 + 214px);
		top: 403px;
	}

	/*about page */

	header{
		justify-content: flex-start;
	}

	.header-inner{
		margin-left: 30px;
		width: auto;
	}


	.about-inner{
		width: calc(100% - 60px);
		max-width: 940px;
		margin: 100px 0 142px 0;
	} 

	.about-inner__image{
		width: 455px;
		height: 400px;
	}

	.about-description{
		margin-left: 31px;
	}

	.about-description__subtitle{
		margin: 54px 0 34px 0;
	}

	.about-description__text{
		line-height: 22.4px;
	}

	.about-flower{
		display: none;
	}

	.cards-section{
		padding: 0 0 140px 0;
		overflow: hidden;
	}

	.cards{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.single-card, .card-background, .single-card__hover{
		height: 294px;
		width: 294px;
	}

	.single-card{
		margin-bottom: 172px;
	}

	.cards-nav__left{
		top: calc(50% + 46px);
		left: 322.5px;
	}

	.cards-nav__right{
		top: calc(50% + 46px);
		right: 322.5px;
	}	

	.cards-button{
		margin-top: 140px;
	}

	.cards-palm{
		bottom: -200px;
	}

	.payment-item{
		max-width: 168px;
		max-height: 244px;
	}

	.payment-inner{
		width: 940px;
		height: auto;
		padding: 0 49px 0 48px;
	}
	.payment-inner__title{
		margin: 30px 0 20px 0;
		padding: 0;
	}

	.payment-button{
		margin: 70px auto 50px;
	}

	.payment-inner__subheader{
		margin: 40px 0;
	}
	.payment-inner__subtitle{
		margin: 0 0 20px 0;
		padding: 0;
	}

	.payment-inner__text{
		padding: 0;
	}

	.payment-inner__container.payment-container{
		max-width: 760px;
		width: calc(100%);
	}

	.payment-container{

	}

	.testimonials{
		padding: 100px 0 140px;
		overflow: hidden;
	}

	.testimonials-container{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.testimonials__title{
		margin: 0 0 30px 0;
	}

	.testimonials-item:last-child{
		display: none;
	}

	.testimonials-item{
		max-width: 293px;
		width: calc((100% - 61px) / 3);
	}

	.testimonials-button{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.scroll-outer, .scroll-inner{
		width: 390px;
	}

	.footer{
		padding: 40px 0 50px;
	}

	.footer__inner{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.footer-button{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.footer-nav{
		width: 332px;
	}


	/*map */

	.map-container {
		width: 937px;
		margin: 90px auto 40px auto;
		height: auto;
	}

	.map-container__image{
		width: 100%;
		height: auto;

	}

	.map-button__plus{
		margin-bottom: 10px;
	}

	.map-button__plus,.map-button__minus{
		background: #fff;
	}

	/*donate-inner*/ 

	.donate-information {
		padding-bottom: 30px;
	}

	.donate-inner{
		width: calc(100% - 60px);
		max-width: 940px;
		padding: 40px 0;
	}

	.donate-inner__title{
		color: #fff;
	}

	.donate-main{
		width: calc(100% - 60px);
		max-width: 940px;
		padding: 20px 0 45px 0;
		align-items: center;
	}

	.donate-main__subtitle {
		font-size: 24px;
	}

	.donate-select{
		width: 810px;
	}

	.donate-progress{
		width: 810px;
	}

	.donate-progress__inner{
		width: 785px;
	}

	.donate-milestones{
		width: 830px;
		margin-left: 18px;
	}
	.widget-txt{
		width: 159px;
	}

	.donate-sum{
		margin: 60px 0 6px 0;
	}

	.donate-sum__wrapper{
		width: 890px;
	}

	/*animal*/

	.animal-header{
		width: 778px;
		margin: 0 30px 10px auto;
	}

	.animal-video{
		margin: 0 30px 0 192px;
	}

	.animal-video, .animal-video__main{
		width: 778px;
		height: 438px;
	}

	.animal-video__main iframe{
		height: 438px;
	}

	.animal-sidebar{
		width: 72px;
		height: 438px;
		left: -162px;
	}

	.sidebar-item, .sidebar-item__image{
		width: 52px;
		height: 52px;
	}

	.animal-about{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.animal-title{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.animal-description{
		padding-left: 30px;
	}

	.animal-thumbnail__picture{
		width: 455px;
		height: 455px;
	}

	.animal-text{
		font-size: 22px;
		font-weight: 500;
		line-height: 31px;
		height: 365px;
	}

	.animal__line{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.animal-info{
		width: calc(100% - 60px);
		max-width: 940px;
	}

	.animal-decor__left{
		width: 187px;
	}

	.animal-decor__right{
		width: 225px;
		right: -30px;
		transform: rotate(-15deg);
	}

	.animal-gallery{
		width: 616px;
		flex-wrap: wrap;
		margin-top: 60px;

	}

	.gallery-item{
		width: 293px;
		height: 210px;
	}

	.gallery-nav__left{
		left: 646px;
		right: auto;
		top: 132px;
	}

	.gallery-nav__right{
		left: 646px;
		top: 60px;		
	}

	.gallery-nav__left img, .gallery-nav__right img{
		transform: scale(0.5);
	}

	.gallery-item:nth-child(3){
		display: none;
	}

	.gallery-item:nth-child(4){
		display: none; 
	}	

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.cards-nav__left, .cards-nav__right{
		display: none;
	}

	.main{
		overflow: hidden;
	}
	.main-description__text{
		font-size: 50px;
		width: 300px;
		line-height: 50px;
	}

	.main-description__button{
			top: 76.57%;
			left: 50.18%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-inner{
		width: 600px;
	}

	.payment-inner{
		width: 100%;
	}

	.payment-image{
		width: 120px;
		height: 120px;
	}

	.payment-item{
		width: 120px;
	}
	

}

@media only screen and (max-width : 640px) {

	.cards-nav__left, .cards-nav__right{
		display: flex;
	}

	.payment-image{
		width: 168px;
		height: 168px;
	}

	.payment-item{
		width: 168px;
	}

/*
	.wrapper__eagle1 {
		top: 170px;
		left: 40px;	
	}

	.wrapper__eagle2 {
		top: 210px;
		left: 70px;
	}
	.wrapper__gorillas{
		top: 270px;
		left: 300px;	
	}

	.wrapper__crocodile{
		top: 225px;
		left: 140px;		
	}
			

	.wrapper__panda {
		top: 150px;
		left: 470px;	
	}

	.wrapper__pandas {
		top: 220px;
		left: 445px;	
	}

	*/

	.wrapper__eagle1 .map-wrapper__descr {
		top: -110px;
		left: 50px;	
	}


	.wrapper__eagle2 .map-wrapper__descr {
		top: 20px;
		left: 0;
	}

	.wrapper__gorillas .map-wrapper__descr {
		top: -10px;
		left: 50px;	
	}

	.wrapper__crocodile .map-wrapper__descr {
		top: 20px;
		left: 0;	
	}

	.wrapper__panda .map-wrapper__descr {
		top: -30px;
		left: -160px;	
	}

	.wrapper__pandas .map-wrapper__descr {
		top: 30px;
		left: -20px;
	}



	.payment-image{
		position: relative;
	}

	.payment-image:before{
		position: absolute;
		content: url('../../build/images/arrow-regular.png');
		top: -15px;
		left: -73px;
	}



	.payment-item:nth-child(1) .payment-image:before{
		display: none;
	}

	.header-inner{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.burger{
		display: block;
		cursor: pointer;
	}

	/* main */

	header{
		padding: 0 20px;
		height: 35px
	}

	.header-inner{
		margin: 0;
	}

	.main{
		height: 340px;
	}
	.main-menu{
		display: none;
	}

	.main-menu__logo{
		width: 46px;
		height: 29px;
	}

	.main-description__background{
		width: 237px;
		height: 237px;
		top: 10px;
		left: 331px;
	}

	.main-text{
		width: 255px;
		height: 200px;
		top: 47px;
		left: 368px;
		font-size: 54px;
		line-height: auto;
	}

	.main-button{
		left: 20px;
		top: 255px;
	}

	.about-image{
		display: none;
	}

	.about-flower{
		display: block;
		top: -300px;
		right: 0;

	}

	.about-flower__image{
		width: 132px;
	}

	.about-inner{
		margin: 60px 0 80px;
		min-height: 400px;
		height: auto;
	}

	.about-description__subtitle{
		margin: 30px 0 20px;
	}

	.cards{
		max-width: 600px;
		width: calc(100% - 40px);
	}

	.single-card, .card-background, .single-card__hover{
		height: 285px;
		width: 285px;
	}	

	.single-card:nth-child(5){
		display: none;
	}

	.single-card:nth-child(6){
		display: none;
	}

	.single-card:nth-child(3){
		margin-bottom: 0;
	}

	.single-card:nth-child(4){
		margin-bottom: 0;
	}	

	.cards-nav__left{
		top: calc(355px + 46px);
		left: 322.5px;
	}

	.cards-nav__right{
		top: calc(355px + 46px);
		right: 322.5px;
	}


	.single-card{
		margin-bottom: 142px;
	}	

	.cards-button{
		margin-top: 120px;
	}

	.cards-flower__image{
		width: 175px;
	}

	.cards-palm__image{
		width: 200px;
	}

	.cards-section{
		padding: 0 0 100px 0;
	}

	.payment{
		padding: 20px 0;
	}

	.payment-inner{
		padding: 0 20px;
	}

	.payment-inner__title{
		font-size: 42px;
		margin: 10px 0 20px;
	}

	.payment-inner__subtitle{
		font-size: 22px;
	}

	.payment-inner__subheader{
		margin: 20px 0 20px;
	}

	.payment-container{
		max-width: 600px;
		width: calc(100%);
		
	}

	.payment-inner{
		max-width: 600px;
		width: calc(100% - 40px);		
	}

	.payment-container__icon{
		display: none;
	}

	.payment-button{
		margin: 40px auto 60px;
	}

	.testimonials{
		padding: 60px 0 80px 0;
	}

	.testimonials-container{
		flex-direction: column;
		justify-content: space-between;
		max-width: 600px;
		width: 100%;
		height: 360px;
		margin: 0 auto 40px;
	}

	.testimonials-item{
		width: 100%;
		height: 109px;
		overflow: hidden;
	}

	.testimonials-item{
		max-width: 100%;
		width: 100%;
	}	

	.testimonials-description{
		height: auto;
		overflow: hidden;
		height: 38px;
	}

	.testimonials-scroll{
		display: none;
	}

	.testimonials-button{
		width: 298px;
		margin: 0 auto 0 auto;
	}

	.testimonials-flower__image{
		width: 150px;
	}
	/*

	.main {
		display: none;
	}

	.testimonials{
		display: none;
	}

	.cards-section{
		display: none;
	}

	.payment{
		display: none;
	}

	.about{
		display: none;
	} */

	.footer{
		padding: 12px 0;
	}

	.footer__inner{
		width: 600px;
		position: relative;
	}

	.footer-block__subscribe{
		display: none;
	}
	.footer-social{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		height: 164px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}

	.footer-bottom{
		justify-content: space-between;
	}

	.footer-nav{
		margin: 0;
		width: 298px;
	}

	.footer-social__item{
		margin: 0;
	}

	.footer-social__icon{
		margin: 0;
	}
	.footer-social__text{
		display: none;
	}

	.footer-button {
		width: 600px;
		margin-bottom: 67px;
	}

	/*map */

	.map-container {
		width: 594px;
		margin: 90px auto 40px auto;
		height: auto;
	}

	.map-container__image{
		width: 100%;
		height: auto;

	}

	.map-buttons{
		display: none;
	}

	/* donate */

	.donate-information {
		padding-bottom: 30px;
	}

	.donate-inner{
		width: 600px;
	}

	.donate-inner__title{
		color: #fff;
	}

	.donate-main{
		width: 600px;
		padding: 20px 0 45px 0;
		align-items: center;
	}

	.donate-main__subtitle {
		font-size: 24px;
	}

	.donate-select{
		width: 580px;
	}

	.donate-progress{
		width: 600px;
	}

	.donate-progress__inner{
		width: 525px;
	}

	.donate-milestones{
		width: 570px;
		margin-left: 18px;
	}
	.widget-txt{
		width: 159px;
	}

	.donate-sum{
		margin: 40px 0 41px 0;
	}

	.donate-sum__wrapper{
		width: 580px;
	}	

	.donate-main__subtitle{
		text-align: center;
	}	

	/*animal*/

	.animal-header{
		width: 495px;
		margin: 0 20px 10px auto;
		font-size: 36px;
	}

	.animal-video{
		margin: 0 20px 0 125px;
	}

	.animal-video, .animal-video__main{
		width: 495px;
		height: 278px;
	}

	.animal-video__main iframe{
		height: 278px;
	}

	.animal-sidebar{
		width: 72px;
		height: 439px;
		left: -102px;
	}

	.sidebar-item, .sidebar-item__image{
		width: 52px;
		height: 52px;
	}

	.animal-about{
		width: 600px;
	}

	.animal-title{
		width: 600px;
		text-align: center;
		margin-top: 60px;
	}

	.animal-thumbnail__picture{
		width: 390px;
		height: 390px;
	}

	.animal-about{
		flex-direction: column;
	}

	.animal-description{
		margin-top: 30px;
		width: 420px;
		padding: 0;

	}

	.animal-text{
		font-size: 22px;
		font-weight: 500;
		line-height: 31px;
		height: auto;
	}

	.animal__line{
		display: none;
	}

	.animal-info{
		width: 600px;
		margin-top: 60px;
	}

	.animal-line{
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.animal-main{
		margin-top: 30px;
	}

	.animal-donate{
		height: 293px;
	}	

	.animal-gallery{
		width: 390px;
		flex-wrap: wrap;
		margin-top: 20px;

	}

	.gallery-item{
		width: 180px;
		height: 140px;
	}

	.gallery-nav__left, .gallery-nav__right{
		width: 42px;
		height: 42px;
	}

	.gallery-nav__left{
		left: 420px;
		right: auto;
		top: 98px;
	}

	.gallery-nav__right{
		left: 420px;
		top: 44px;		
	}

	.gallery-nav__left img, .gallery-nav__right img{
		transform: scale(0.5);
	}

	.gallery-item:nth-child(3){
		display: none;
	}

	.gallery-item:nth-child(4){
		display: none; 
	}	

}


@media only screen and (max-width : 620px) {

	.about-flower__image{
		display: none;
	}

	.cards{
		justify-content: center;
	}

	.cards-nav__left, .cards-nav__right{
		display: none;
	}

	.single-card:nth-child(1){
		margin-bottom: 100px;
	}

	.single-card:nth-child(2){
		margin-bottom: 100px;
	}

	.single-card:nth-child(3){
		margin-bottom: 100px;
	}

	.single-card:nth-child(4){
		margin-bottom: 100px;
	}	

	.main-text{
		font-size: 28px;
		line-height: 30px;
		width: 160px;
		left: 43%;
	}

	.main-description__background{
		left: 35%;
	}

	.payment-image{
		width: 120px;
		height: 120px;
	}

	.payment-item{
		width: 120px;
	}	

.footer__inner{
		width: 100%;
		height: auto;
	}

	.footer-bottom {
		flex-direction: column-reverse;
	}

	.footer-credentials{
		margin-bottom: 40px;
	}

	.footer-button{
		width: 298px;
		margin: 0 auto 40px auto;
	}

	.footer-nav{
		margin: 0 auto;
	}

	.footer-block__subscribe{
		display: flex;
		flex-direction: column;
	}

	.footer-continer__top{
		display: flex;
		flex-direction: column;
	}

	.footer-top{
		align-items: center;
		flex-direction: column;
		margin-bottom: 40px;
	}

	.footer-top__logo{
		display: none;
	}

	.subscribe{
		align-items: center;
	}

	.subscribe-title{
		font-size: 16px;
		line-height: 22.4px;
	}

	.subscribe-form{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	.subscribe-form__mail{
		margin-bottom: 10px;
	}

	.subscribe-form__button{
		margin: 0;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.payment-image{
		width: 168px;
		height: 168px;
	}

	.payment-item{
		width: 168px;
	}

	.payment-container{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.payment-image{
		position: relative;
	}

	.payment-image:before{
		position: absolute;
		content: url('../../build/images/arrow-rotate.png');
		bottom: -95px;
		right: -28px;
		top: auto;
		left: auto;
	}

	.payment-item:nth-child(5) .payment-image:before{
		display: none;
	}

	.payment-item:nth-child(1) .payment-image:before{
		display: block;
	}	

	.payment-item:nth-child(3) .payment-image:before{
		display: block;
	}		

	.payment-inner{
		padding-left: 0;
		padding-right: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.main{
		height: 187px;
	}

	.main-description__background{
		width: 120px;
		height: 120px;
		left: calc(50% - 119.09px/2 + 62.45px);
		top: 22px;
	}

	.main-text{
		width: 128px;
		height: 102px;
		left: calc(50% - 128.13px/2 + 85.67px);
		top: 41px;
		font-size: 28px;
		line-height: 21px;
		text-align: center;
	}

	.main-description__button{
		left: calc(50% - 298px/2 + 214px);
		top: 403px;
	}

	.main-button{
		left: 50%;
		top: 212px;
		transform: translate(-50%,0);
	}

	.about{
		overflow: hidden;
	}

	.about-inner{
		margin: 0;
		padding: 104px 0 40px;
		height: auto;
	}

	.about-inner__description{
		width: 320px;
	}

	.about-description__title{
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 10px;
	}

	.about-description__subtitle{
		margin: 20px 0 10px;
	}

	.about-flower{
		right: -100px;
	}

	.cards-nav__left{
		display: none;
	}

	.cards-nav__right{
		display: none;
	}

	.cards-section{
		padding-bottom: 60px;
	}

	.cards{
		flex-direction: column;
		width: 320px;
	}

	.single-card {
		margin: 0 auto 80px auto;
	}

	.single-card:nth-child(3){
		margin-bottom: 80px;
	}

	.single-card:nth-child(4){
		margin-bottom: 80px;
	}	

	.cards-button{
		margin: 0;
	}

	.cards-flower__image{
		width: 85px;
	}

	.payment-inner{
		width: 300px;
		padding: 0;
	}

	.payment-inner__title{
		font-size: 24px;
		margin: 20px 0 10px 0;
	}

	.payment-inner__subtitle{
		text-align: center;
		margin: 0;
	}

	.payment-inner__text{
		display: none;
	}

	.payment-inner__subheader{
		font-size: 24px;
	}

	.payment-container{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.payment-item__description{
		padding-top: 10px;
	}

	.payment-item{
		margin-bottom: 20px;
	}
	.payment-button{
		margin: 10px auto 40px auto;
	}

	.testimonials__title{
		font-size: 24px;
		margin-bottom: 30px;
	}

	.testimonials{
		padding: 30px 0 60px 0;
	}

	.testimonials-container{
		width: 300px;
		margin-bottom: 30px;
	}

	.testimonials-item{
		width: 100%;
	}

	.testimonials-flower__image{
		width: 77px;
		height: 75px;
	}

	.testimonials-flower{
		left: 0;
		bottom: -80px;
		display: none;
	}


	.payment{
		
	}

	.payment-image{
		position: relative;
	}

	.payment-image:before{
		position: absolute;
		content: url('../../build/images/arrow-rotate.png');
		bottom: -95px;
		right: -28px;
		top: auto;
		left: auto;
	}

	.payment-item:nth-child(5) .payment-image:before{
		display: none;
	}

	.payment-item:nth-child(1) .payment-image:before{
		display: block;
	}	

	.payment-item:nth-child(3) .payment-image:before{
		display: block;
	}	

	.about{
		display: none;
	}

	.footer__inner{
		width: 100%;
		height: auto;
	}

	.footer-bottom {
		flex-direction: column-reverse;
	}

	.footer-credentials{
		margin-bottom: 40px;
	}

	.footer-button{
		width: 298px;
		margin: 0 auto 40px auto;
	}

	.footer-nav{
		margin: 0 auto;
	}

	.footer-block__subscribe{
		display: flex;
		flex-direction: column;
	}

	.footer-continer__top{
		display: flex;
		flex-direction: column;
	}

	.footer-top{
		align-items: center;
		flex-direction: column;
		margin-bottom: 40px;
	}

	.footer-top__logo{
		display: none;
	}

	.subscribe{
		align-items: center;
	}

	.subscribe-title{
		font-size: 16px;
		line-height: 22.4px;
	}

	.subscribe-form{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	.subscribe-form__mail{
		margin-bottom: 10px;
	}

	.subscribe-form__button{
		margin: 0;
	}

	.map-container {
		width: 100%;
		height: 324px;
		margin: 38px auto 17px auto;
		position: relative;
		overflow: hidden;
	}

	.map-container__image{
		width: 406px;
		height: 268px;
		position: absolute;
		left: -13.48%;
		top: 11.96%;
		bottom: 5.33%;		

	}

	/* donate */

	.main.donate-main{
		display: block;
		height: 187px;
	}
	.donate-information {
		padding-bottom: 30px;
	}

	.donate-inner{
		width: 300px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.donate-inner__title{
		color: #fff;
		font-size: 24px;
		line-height: 29px;
	}

	.donate-inner__text{
		margin-bottom: 30px;
	}

	.donate-inner__subheader{
		font-size: 24px;
		line-height: 29px;		
	}

	.donate-main{
		width: 300px;
		padding: 20px 0 45px 0;
		align-items: center;
	}

	.donate-main__subtitle {
		font-size: 16px;
		margin: 0 0 10px;
	}

	.donate-main__title{
		font-size: 24px;
		margin: 0 auto 10px;
	}

	.donate-select{
		width: 280px;
	}

	.donate-progress{
		width: 300px;
	}

	.donate-progress__inner{
		width: 225px;
	}

	.donate-milestones{
		width: 285px;
		margin-left: 17.5px;
	}

	.single-milestone{
		font-size: 13px;
	}

	.donate-widget{
		width: 300px;
		margin: 0 10px 0;
	}

	.donate-animal{
	}

	.donate-animal__image{
		width: 165px;
		height: 138px;
	}

	.widget-descr{
		margin: 70px 50px 0 0;
	}

	.widget-txt{
		width: 90px;
	}

	.widget-txt__text{
		font-size: 9px;
	}

	.widget-txt__number{
		font-size: 40px;
		line-height: 32px;
	}

	.donate-sum{
		margin: 40px 0 41px 0;
	}

	.donate-sum__wrapper{
		width: 300px;
		margin-left: 10px;
	}	

	.donate-sum__input{
		width: 180px;
		height: 42px;
		font-size: 16px;
	}

	.donate-sum:before{
		left: 145px;
	}

	.donate-main__subtitle{
		text-align: center;
	}	

	.donate-share{
		width: 301px;
	}

	/*animal*/

	.animal{
		padding-top: 20px;
	}

	.animal-header{
		width: 300px;
		font-size: 24px;
		margin: 0 10px 10px auto;
	}

	.animal-video{
		margin: 0 10px 20px 10px;
	}

	.animal-video, .animal-video__main{
		width: 300px;
		height: 168px;
	}

	.animal-video__main iframe{
		height: 168px;
		width: auto;
	}

	.animal-gallery{
		width: 188px;
		flex-wrap: wrap;
		height: 146px;
		align-items: space-between;
		margin-left: 93px;
	}

	.gallery-nav__left, .gallery-nav__right{
		display: none;
	}

	.animal-gallery__item{
		width: 90px;
		height: 68px;
	}

	.animal-gallery__item:nth-child(3){
		display: block;
	}

	.animal-gallery__item:nth-child(4){
		display: block;
	}

	.animal-sidebar{
		width: 62px;
		height: 233px;
		left: 0;
		overflow: hidden;
		padding: 5px 0;
		top: 188px;
	}

	.sidebar-item {
		margin-bottom: 5px;
	}

	.sidebar-item, .sidebar-item__image{
		width: 52px;
		height: 52px;
	}

	.animal-about{
		width: 320px;
	}

	.animal-title{
		width: 300px;
		font-size: 24px;
		text-align: center;
		margin: 60px 0 10px 0;
		line-height: 29px;
	}

	.animal-thumbnail__picture{
		width: 320px;
		height: 193px;
	}

	.animal-about{
		flex-direction: column;
	}

	.animal-description{
		width: 300px;
		padding: 0;
		margin: 20px 10px 0 10px;
	}

	.animal-text{
		font-size: 16px;
		font-weight: 500;
		line-height: 22.5px;
		height: auto;
	}

	.animal__line{
		display: none;
	}

	.animal-info{
		width: 300px;
		margin-top: 40px;
	}

	.animal-line{
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.animal-main{
		margin-top: 30px;
	}

	.animal-donate{
		height: 293px;
	}

	.animal-button{
		margin-top: 30px;
	}	

	.animal-decor__left{
		width: 87px;
	}

	.animal-decor__right{
		width: 86px;
		height: 85px;
		bottom: 0;
		right: 0;
	}

	.footer-top__add-logo{
		display: block;
		margin-bottom: 96px;
	}
	.footer{
		padding: 20px 0;
	}

	.footer-social{
		display: flex;
		flex-direction: row;
		height: auto;
		width: 194px;
		left: 50%;
		right: auto;
		transform: translate(-50%, 0);
		top: 43px;
	}

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}